#################
## FAUST
#################

*.cpp
*.tmp.cpp
*.tmp.dsp
*.temp-svg
*.0.temp-svg
*.1.temp-svg
*.2.temp-svg
*.*~
LazyLimiter
LazyLimiter-svg
LazyLimiter.lv2
/faust-graphs.html
/LLng-svg/GR-0x7f0b72503be0.svg
/LLng-svg/*.svg
/LLng
